@charset "utf-8";

body {
    text-align: center;
    background-image: url(/img/book_shelf4.avif);
    background-size: cover;
}

h1 {
    color: rgb(190, 206, 216);
    font-size: 250px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    margin-top: 100px;
}